.first
      {
        background-color : rgba(0,0,0,0.6);
         max-width: 100%;
  width: 100%;
        text-align : center;
        margin-top : -100px;
        background: url("bg.jpg");
        background-repeat: repeat-x;
        background-size: cover;
      }

      .cards
      {
        display : flex;
        gap:50px;
        justify-content: center;
        position : relative;
        bottom : 120px;

      }
       .fontt
       {
        font-family: 'Orbitron', sans-serif;
       }
    body{
      

    
      background:url("https://img.freepik.com/premium-vector/background-iridescent-luminous-pattern-tessellating-interlocking-elegant-suave_784842-5154.jpg?semt=ais_hybrid&w=740");
       color:#eeeeee;
       overflow-x: hidden;
       
    }
     .dv {
    margin: -8px;
    background-color:rgba(0,0,0,0.5);
    overflow: hidden; 
    position : sticky;
    top :0;
    }
    .div0{
        text-align:center;
        background-color:rgba(0,0,0,0.5);
color:lightgray;

border-radius:30px;
margin:35px;
padding:20px;
    }


     .div1{
        text-align:center;
        background-color:rgba(0,0,0,0.5);
color:lightgray;

border-radius:30px;
margin:45px;
margin-left: 200px;
margin-right: 200px;
padding:20px;
     }
  
    
  .bottomdiv
    {
      
      background-color: rgb(0,0,0,0.7);
    
      height:400px;
      
    }
    
    
    .div2{
        text-align:center;
        background-color:rgba(0,0,0,0.5);
color:lightgray;

border-radius:30px;
margin:45px;
padding:20px;
    }
    .div2:hover
{
    
    box-shadow : 0 0 15px rgb(15, 105, 38),
                 0 0 30px rgb(15, 105, 38),
                 0 0 300px rgb(15, 105, 38);               
}
    .div3{
        text-align:center;
        background-color:rgba(0,0,0,0.5);
color:lightgray;

border-radius:30px;
margin:75px;
margin-left: 200px;
margin-right: 200px;
padding:20px;
    }
    .div3:hover
    {
      
       box-shadow : 0 0 15px rgb(15, 105, 38),
                 0 0 30px rgb(15, 105, 38),
                 0 0 500px rgb(15, 105, 38);  

    }
    
    
    .dev
    {
      background-color : rgba(0,0,0,0.5);
    }
    .div4{
        text-align:center;
        
        background-color:rgba(0,0,0,0.5);
color:lightgray;

border-radius:30px;
margin:75px;
margin-left: 200px;
margin-right: 200px;
padding:20px;
    }
    

    .div4:hover
    {
       
       border: 5px groove rgb(17, 99, 207);
         box-shadow : 0 0 15px rgb(7,99,207),
                 0 0 30px rgb(7,99,207),
                 0 0 500px rgb(7,99,207);  


    }
    .div5{
        text-align:center;
        background-color:rgba(0,0,0,0.5);
color:lightgray;

border-radius:30px;
margin:75px;
margin-left: 200px;
margin-right: 200px;
padding:20px;
background-size : 200px 200px;

    }
.div5:hover
    {
       
       border: 5px groove rgb(194, 207, 7);
         box-shadow : 0 0 15px rgb(194,207,7),
                 0 0 30px rgb(194,207,7),
                 0 0 500px rgb(194,207,7);  
                 


    }

    
    .div6{
        text-align:center;
        background-color:rgba(0,0,0,0.5);
color:lightgray;

border-radius:30px;
margin:75px;
margin-left: 200px;
margin-right: 200px;
padding:20px;
    }

    .div6:hover
    {
      border: 5px groove rgb(250, 9, 198);
      box-shadow : 0 0 15px rgb(250,9,198),
                 0 0 30px rgb(250,9,198),
                 0 0 500px rgb(250,9,198);  

    }
    

    
    .div7{
        text-align:center;
        background-color:rgba(0,0,0,0.5);
color:lightgray;

border-radius:30px;
margin:45px;
margin-left: 200px;
margin-right: 200px;
padding:20px;
    }

    .div7:hover
    {
      border: 5px groove rgb(169, 126, 8);
      box-shadow : 0 0 15px rgb(169, 126, 8),
                 0 0 30px rgb(169, 126, 8),
                 0 0 500px rgb(169, 126, 8);  

    }

    .name:link
    {
        color : rgb(74, 205, 100, 0.742);
    }
    .name:visited
    {
        color : rgb(74, 205, 100, 0.742);
    }
    .name:hover
    {
        color : rgb(242, 15, 15);
    }
    .name:active
    {
        color : grey;
    }
    .button1
    {
      color:rgb(26, 33, 8);
      border:10px outset rgb(17, 99, 207);
      background-color: #c1c7ad;
      border-radius:1000px;
       margin-left: auto;
       margin-right: auto; 
       padding:5px;
       width:100px;
       height:20px;
       outline : 10px gr red;
     
    }
    .button2
    {
      color:rgb(179, 255, 0);
      border:10px outset rgba(227, 210, 17, 0.947);
      background-color: #091a03;
      border-radius:1000px;
       margin-left: auto;
       margin-right: auto; 
       padding:5px;
       width:100px;
       height:20px;
       outline : 10px gr red;
    }
    .button3
    {
      color:rgb(179, 255, 0);
      border:10px outset rgb(44, 119, 216);
      background-color: #191d1e;
      border-radius:1000px;
       margin-left: auto;
       margin-right: auto; 
       padding:5px;
       width:100px;
       height:20px;
       outline : 10px gr red;
    }
    .button4
    {
      color:rgb(179, 255, 0);
      border:10px outset rgb(243, 66, 160);
      background-color: #060c0e;
      border-radius:1000px;
       margin-left: auto;
       margin-right: auto; 
       padding:5px;
       width:100px;
       height:20px;
       outline : 10px gr red;
    }
    .button5
    {
      color:rgb(148, 214, 16);
      border:10px outset rgb(169, 126, 8);
      background-color: #060d10;
      border-radius:1000px;
       margin-left: auto;
       margin-right: auto; 
       padding:5px;
       width:100px;
       height:20px;
       
    }
    .leftt
    {
      margin-left: 50px;
      
      width: 400px;
      float: left;
    }

     
    .spi
    {
      
      width : 500px;
      position : relative;
      top : 20px;
      left: 20px;
    }
     
    .contact
    {
  
      position : relative;
      left: 520px;
      bottom : 135px;
    }

    .credits
    {
     
      position : relative;
      left: 820px;
      bottom : 333px;
    }
    .form
    {
      position : relative;
      left : 380px;
      bottom : 530px;
      text-align : center;
      
    }

    textarea
    {
      
      background-color : rgb(54, 188, 241,0.1);
      color : white;
      position : absolute;
      left: 695px;
    }
    

    input
    {
      background-color : #00ffc8;
      box-shadow:   0 0 5px #00ffc8, 0 0 10px #00ffc8;
      border:1px ridge #00ffc8;
      color : black;
    }
    input:hover
    {
      background-color : #ff4081;
      box-shadow:   0 0 5px #ff4081, 0 0 10px #ff4081;
      border:1px ridge #ff4081;
    }

    .rating
    { 
      

      position : relative;
      left : 1380px;
      bottom : 674px;
      
    }

    input~i
    {
      color : gold;
      box-shadow:   0 0 5px gold, 0 0 10px gold;
    }

    .love
    {
      position : relative ;
      text-align : center;
      bottom : 670px;
    }
    .lv
    {
      background-color : red;
    }

    .copyrights
    {
      position : relative;
      bottom : 650px;
      left:  1250px;
    }